<!DOCTYPE HTML>
<html>

<head>
    <title>Bazzini consort</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> {% load static %}
    <link rel="stylesheet" href="{% static " assets/css/main.css " %}" />
</head>

<body class="index">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <img class="logo" src="{% static " images/logo-small.png " %}">
            <h1 id="logo">
                <a href="index.html">Bazzini
                    <span>Consort</span>
                </a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class="home">
                        <a href="index.html">Welcome</a>
                    </li>
                    <li class="about current">
                        <a href="about.html">Chi Siamo</a>
                    </li>
                    <li class="event">
                        <a href="events.html">Eventi</a>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <article id="main">

            <!-- One -->
            <section class="wrapper style4 container">

                <div class="row 150%">
                    <div class="5u 12u(narrower)">

                        <!-- Content -->
                        <div class="content">
                            <section>
                                <header>
                                    <h2>Aram Khacheh</h2>
                                </header>
                                <a href="#" class="image featured zoom">
                                    <img src="images/aram-khacheh-2.jpg" alt="" />
                                </a>
                                <header>
                                    <h3>Informazioni</h3>
                                    <ul style="list-style-type:disc; padding-left:20px;">
                                        <li>Nome: Aram</li>
                                        <li>Cognome: Khacheh </li>
                                        <li>Data di nascita: 12/12/12</li>
                                        <li>Vive a: Brescia</li>
                                        <li>Incarico: Direttore</li>
                                        <li>Email: mail@example.com</li>
                                        <li>Telefono: 23265746874</li>
                                    </ul>
                                </header>

                            </section>
                        </div>

                    </div>

                    <div class="5u 12u(narrower)">

                        <!-- Content -->
                        <div class="content dissolve-in">
                            <section>
                                <header>
                                    <h2>Curriculum vitae</h2>
                                </header>
                                <p>Nato a Poggibonsi 27 gennaio 1997, si dedica agli studi musicali in tenera età presso i "Laboratori
                                    Polis" di Certaldo. Partecipa alle MasterClass di Violoncello con il Mº Fernando Scarselli
                                    e di Violoncello Barocco con il Mº Jean-Marie Quint. Nel 2011 si iscrive ai corsi di
                                    violoncello del Mº Scarselli presso il Conservatorio "Luigi Cherubini" di Firenze, e
                                    l'anno successivo, con l'intento di avvicinarsi alla direzione d'orchestra, si iscrive
                                    alla classe di composizione del MºRoberto Becheri e a quella di lettura della partitura
                                    del MºLuciano Garosi. Partecipa al Cantiere Internazionale d'Arte di Montepulciano nelle
                                    edizioni 2013 e 2014. Nel 2013, sotto la supervisione del MºRaffaele Puccianti, fonda
                                    e comincia a dirigere l'Orchestra del Liceo Virgilio, la quale si è esibita fino ad oggi
                                    in numerosi eventi all'interno del circondario Empolese-Valdelsa. Dal 2013 collabora
                                    in qualità di compositore con "Il Paracadute di Icaro", associazione grazie alla quale,
                                    nella primavera del 2014 presso il Teatro Everest di Firenze, ha assistito all'esecuzione
                                    delle sue prime composizioni per ensemble. La sua musica è stata eseguita nella rassegna
                                    "Inventarti" nelle edizioni 2014, 2015 e 2016, presso il Teatro Everest e il Teatro di
                                    Rifredi (Firenze). Nel Giugno 2014, in due date, suona le musiche di scena del "Ritorno
                                    di Casanova", eseguito dalla compagnia Lombardi Tiezzi presso il museo del Bargello di
                                    Firenze. Dal 2014 collabora con Maurizio Vanni (critico d'arte) all'interno delle Show
                                    Conferences del Palazzo Pretorio di Certaldo e del Lucca Center Contemporary Art. Nel
                                    Febbraio del 2015 effettua uno stage curricolare della durata di 30 ore presso la "Fondazione
                                    Teatro del Maggio Musicale Fiorentino", grazie al quale riesce a seguire i lavori in
                                    teatro dei maestri Giuseppe La Malfa, Lorenzo Fratini e Daniele Gatti (Messa da Requiem,
                                    Giuseppe Verdi). </p>
                                <p>Partecipa nel 2015 e nel 2016 alla tournée italo-austriaca del progetto "Toscana-Salisburgo",
                                    avente tra i numerosi luoghi ospitanti il prestigioso Solitär dell'Universität Mozarteum
                                    di Salisburgo, la Sala Toscana della Residenza di Wuzburg, la Basilica di San Francesco
                                    d'Assisi, l'Estate Concertistica di Lamole e Piazza del Campo a Siena. Per la direzione
                                    d'orchestra dal 2015 frequenta le lezioni e partecipa alle MasterClass londinesi del
                                    MºPeter Fender e nel Luglio dello stesso anno partecipa come allievo effettivo alla MasterClass
                                    del MºDaniele Agiman. All'interno del Sebino Summer Class&Festival ha diretto l'orchestra
                                    "I Musici di Parma" in due concerti pubblici, eseguendo il concerto per violino nº5 in
                                    La Maggiore di W.A. Mozart e la Sinfonia nº4 (l'italiana) di F. Mendelssohn (1º mov).
                                    Dal 2014 collabora con l'associazione "Polis" per la stesura e la realizzazione dei progetti
                                    nelle scuole e nel 2015 anche in qualità di docente di violoncello. Nel Febbraio del
                                    2016 è stato invitato dall'emittente "Orme Radio" a condurre una puntata radiofonica
                                    (9/02/'16) nella quale ha ripercorso gli ultimi 250 anni di storia della musica dal punto
                                    di vista della scrittura per violoncello nei vari contesti compositivi, raggiungendo
                                    ascolti e podcast da record. Nel 2016, sotto invito del MºStefan David Hummel (Universität
                                    Mozarteum) ha diretto l'Orchestra Giovanile di Greve in Chianti presso l'Odëion Kulturforum
                                    di Salisburgo e la Mainfrankensäle di Veitshöhheim (Germania), riscuotendo ottimi risultati
                                    dalla critica locale (Veitshöhheim News – "[…]erklang unter der Leitung eines jungen
                                    Cellisten, der Dirigieren studiert, verspielt und leicht und locker wunderschön, die
                                    zarten Violinklänge").</p>
                                <p>Nel luglio del 2016 ha frequentato come allievo effettivo la classe del M°Agiman all'interno
                                    del Salso Summer Class&Festival, dirigendo in due concerti l'orchestra "I Musici di Parma".
                                    Dopo aver conseguito il Diploma di Maturità presso il "Liceo Virgilio" di Empoli (a.s.
                                    2015-16, con votazione 88/100), si iscrive al corso di laurea triennale in Direzione
                                    D'Orchestra, presso il Conservatorio di Brescia, sotto la guida dei maestri Gilberto
                                    Serembe e Umberto Benedetti Michelangeli (lettura della partitura). Nel marzo del 2017
                                    ha diretto l'Orchestra da Camera "Luca Marenzio", eseguendo gli Stabat Mater di Vivaldi
                                    e Pergolesi, presso la Chiesa di San Cristo a Brescia. Inoltre, dall'a.a. 2016-17, frequenta
                                    i corsi di direzione d'orchestra presso la Italian Conducting Accademy di Milano. Parla
                                    correntemente cinque lingue (Italiano, Persiano, Inglese, Spagnolo e Francese).</p>
                            </section>
                        </div>

                    </div>

                    <div class="4u 12u(narrower)">

                        <!-- Sidebar -->
                        <!-- <div class="sidebar">
											<section>
												<header>
													<h3>Magna Feugiat</h3>
												</header>
												<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
												<footer>
													<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul>
												</footer>
											</section>

											<section>
												<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
												<header>
													<h3>Amet Lorem Tempus</h3>
												</header>
												<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
												<footer>
													<ul class="buttons">
														<li><a href="#" class="button small">Learn More</a></li>
													</ul>
												</footer>
											</section>
										</div> -->

                    </div>
                </div>
            </section>

            <!-- Two -->
            <section class="wrapper style1 container special">
                <div class="row">
                    <div class="4u 12u(narrower)">

                        <section>
                            <header>
                                <h3>This is Something</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor
                                nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                            <footer>
                                <ul class="buttons">
                                    <li>
                                        <a href="#" class="button small">Learn More</a>
                                    </li>
                                </ul>
                            </footer>
                        </section>

                    </div>
                    <div class="4u 12u(narrower)">

                        <section>
                            <header>
                                <h3>Also Something</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor
                                nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                            <footer>
                                <ul class="buttons">
                                    <li>
                                        <a href="#" class="button small">Learn More</a>
                                    </li>
                                </ul>
                            </footer>
                        </section>

                    </div>
                    <div class="4u 12u(narrower)">

                        <section>
                            <header>
                                <h3>Probably Something</h3>
                            </header>
                            <p>Sed tristique purus vitae volutpat ultrices. Aliquam eu elit eget arcu commodo suscipit dolor
                                nec nibh. Proin a ullamcorper elit, et sagittis turpis. Integer ut fermentum.</p>
                            <footer>
                                <ul class="buttons">
                                    <li>
                                        <a href="#" class="button small">Learn More</a>
                                    </li>
                                </ul>
                            </footer>
                        </section>

                    </div>
                </div>
            </section>

        </article>

        <!-- Footer -->
        <footer id="footer">

            <ul class="icons">
                <li>
                    <a href="#" class="icon circle fa-twitter">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon circle fa-facebook">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon circle fa-google-plus">
                        <span class="label">Google+</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon circle fa-github">
                        <span class="label">Github</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon circle fa-dribbble">
                        <span class="label">Dribbble</span>
                    </a>
                </li>
            </ul>

            <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design:
                    <a href="">FC</a>
                </li>
            </ul>

        </footer>

    </div>

    <!-- Scripts -->
    <script src="{% static " assets/js/jquery.min.js " %}"></script>
    <script src="{% static " assets/js/jquery.dropotron.min.js " %}"></script>
    <script src="{% static " assets/js/jquery.scrolly.min.js " %}"></script>
    <script src="{% static " assets/js/jquery.scrollgress.min.js " %}"></script>
    <script src="{% static " assets/js/skel.min.js " %}"></script>
    <script src="{% static " assets/js/util.js " %}"></script>
    <script src="{% static " assets/js/main.js " %}"></script>

</body>

</html>